@keyframes preloading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        background: #2ecc71;
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes preloading_after {
    0% {
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
    }
    50% {
        border-top: 10px solid #3498db;
        border-bottom: 10px solid #3498db;
    }
    100% {
        border-top: 10px solid #9b59b6;
        border-bottom: 10px solid #9b59b6;
    }
}

div.loading-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 90;
    background-color: rgba(0, 0, 0, .75);
    outline: none;
    #preloading {
        position: relative;
        width: 30px;
        height: 30px;
        background: #3498db;
        border-radius: 50px;
        animation: preloading 1.5s infinite linear;

        &:after {
            position: absolute;
            width: 50px;
            height: 50px;
            border-top: 10px solid #9b59b6;
            border-bottom: 10px solid #9b59b6;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-radius: 50px;
            content: '';
            top: -20px;
            left: -20px;
            animation: preloading_after 1.5s infinite linear;
        }
    }
}
